<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <h1>PeeLace</h1><h3>, which is a convenient tool to find nearby toilet, is also my side project.</h3><br>
    <h3>Thre are many kinds of toilet in our database, such as traffic facility, convenient store, or coffee shop ...</h3><br>
    <h3>We can start our search anywhere, even if from our current location.</h3>
    </main>
    <%- include('../includes/end.ejs') %>